<footer class="page-footer">
    <div class="footer-copyright">
    <div class="container">
        <a class="grayfont" href="https://github.com/sharleneimperial">© 2016 Sharlene Imperial</a>
        <a class="greyfontright" href="https://github.com/sharleneimperial/movie-fans-app"><img id="github" src="/img/githublogo.png">GitHub</a>
    </div>
  </div>
</footer>