<h2>Profile Page</h2>

<h3>YOUR PROFILE</h3>

<p>Id: <%= id %></p>
<p>Name: <%= name %></p>
<p>Email: <%= email %></p>

<ul>

  <h1>Here are your TOP favorite movies:</h1>
  <% movies.forEach(movie => { %>
    <li><%= movie.title %> </li>
  <% }) %>
  </ul>

